<main class="main-content">
  <section class="intro-section">
    <div class="intro">
    <h2>INTRODUCTION</h2>
    <p>Hello, I am Bishnu Shrestha. I am from Nepal. I enjoy learning new skills,
      meeting new people, exploring places. At present I am studying Computer Programming at St. Clair College.

    </p>
    <a routerLink="/projects" class="projects-link">View My Work</a>
    </div>
    <div class="intro-img">
      <img src="assets/images/heroImage.JPG" alt="Introduction image of Bishnu Shrestha">
    </div>
  </section>

  <section id="about" class="about-section">
    <article class="about-content">
      <h2>ABOUT ME</h2>

      <h3>Education</h3>
      <ul>
        <li>High School - Liverpool International Higher Secondary School - 2020</li>
        <li>Diploma - St. Clair College - Present</li>
      </ul>

      <h3>Interests</h3>
      <ul>
        <li>Riding</li>
        <li>Trekking, Hiking, Mountaineering</li>
        <li>Video Games</li>
      </ul>

      <h3>Skills</h3>
      <ul>
        <li>Multilingual (Nepali, English, Indian)</li>
      </ul>

      <nav class="about-nav">
        <a href="#main">Home</a>
        <a routerLink="/about">Learn More...</a>
      </nav>
    </article>

    <aside class="about-image">
      <figure>
        <img src="../assets/images/asideImage.JPG" alt="Aside image of Bishnu Shrestha">
      </figure>
    </aside>
  </section>
</main>
